:root {
    --color-primary: #8B2437;
    --color-secondary: #F37022;
    --color-white: #FFFFFF;
    --color-accent: #F9D279;
    --color-danger: #C8502A;
    --color-gray-dark: #4A4A4A;
    --color-background: #F2E4D6;
    --color-brown: #A65C3D;
    --color-black: #000000;
    --color-green: #36b932;
}
body {
    background: rgb(139,36,55);
    background: linear-gradient(339deg, rgba(139,36,55,1) 0%, rgba(200,80,42,1) 53%, rgba(249,210,121,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: 10px solid #8B2437;
}
main {
    padding: 2%;
}

main h2 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--color-white
    );
}

table {
    width: 90%;
    margin: 5% auto;
    border-spacing: 0; /* Changed to collapse for better cell alignment */
    font-size: 0.85rem; /* Slight increase in font size */
    border-radius: 5px;
    border: 1px solid var(--color-primary);
}

th {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);
    font-size: 0.8rem;
}

td {
    width: auto;
    text-align: center;
    border-right: 1px solid var(--color-primary);
}


tr:nth-child(odd) {
    background: var(--color-white);
}

tr:nth-child(even) {
    background: var(--color-background);
}
tr:first-child th:first-child {
    border-top-left-radius: 4px;
}
tr:first-child th:last-child {
    border-top-right-radius: 4px;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}

.negative {
    color: var(--color-danger);
}

.positive {
    color: var(--color-green);
}

.acciones {
    padding: 1%;
    display: flex;
    flex-direction: column;
}
.B_editar, .B_eliminar {
    padding: 1% 0;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: var(--color-white);
    transition: 0.5;
    width: 95%;
    margin: 2% auto;
    font-size: 0.7rem;
}
.B_editar:hover, .B_eliminar:hover {
    scale: 1.01;
    background-color: transparent;
    transition: 0.5s;
}
.B_editar:hover {
    color: var(--color-secondary);
}
.B_eliminar:hover {
    color: var(--color-primary);
}
table button .material-symbols-outlined {
    font-size: 1rem;
}
#busquedas button .material-symbols-outlined {
    font-size: 1.5rem;
}

.B_editar {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

.B_eliminar {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

/* Sección de búsqueda */
#busquedas {
    width: 95%; /* Ajusta el ancho para adaptarse mejor */
    margin: 3% auto;
    display: flex;
    justify-content: space-between; /* Asegura que todo esté en una línea en pantallas grandes */
    align-items: center;
    padding: 1%;
}

#Search_principal {
    width: 90%; /* Más espacio para el buscador en pantallas grandes */
    padding: 10px;
    margin-left:1px ;
    border: 0;
    font-size: 1rem;
}

.bot {
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 2px solid var(--color-primary);
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 0.9rem; 
    transition: 0.3s;
    cursor: pointer;
    margin: 5px 5px;
    align-items: center;
}
.bot span {
    margin-right: 10%;
}
.botS {
    background-color: transparent;
    border: 0;
    border-left: 1px solid var(--color-gray-dark);
    padding: 1%;
    cursor: pointer;

}
.bot:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
    transition: 0.3s;
}

.select2-container {
     width: 20% !important;  /* Ancho ajustado para mejor visibilidad */
}

.select2-container--default .select2-selection--single {
    height: 5vh;  /* Ajustar altura para armonizar con los botones */
    line-height: 5vh;
    display: flex;
    align-items: center;
    border: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 5vh;
    display: flex;
    align-items: center;
}

#barra_busqueda {
    background-color: var(--color-white);
    width: 60%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    padding: 1% 3%;
    align-items: center;
}

/* paginacion */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    margin: 0 5px;
    padding: 8px 12px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-button:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
}

.pagination-button.active {
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-weight: bold;
}


/*tabla clientes*/
.ver {
    padding: 0 20%;
    height: auto;
    border: 1px solid #5095d0;
    border-radius: 3px;
    color: #5095d0;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}
.ver:hover {
    color: var(--color-white);
    background: #5095d0;
    transition: 0.5s;
}
#Ndirecciones {
    font-size: 1.5rem;
}


#pagination-controls button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}
#pagination-controls button.active {
    font-weight: bold;
    text-decoration: underline;
}
/* Adaptación para dispositivos más pequeños */
@media (max-width: 768px) {
    table {
        width: 100%;
        font-size: 0.5rem;
        display: block;
        overflow-x: auto;
    }
    #zonas, #productos {
        display: table;
    }




    #busquedas {
        width: 100%;
        padding: 0;
        flex-direction: column; /* Cambiar a columna para que se adapten bien los elementos */
    }

    #barra_busqueda {
        width: 80%; /* Dar más espacio al buscador en pantallas pequeñas */
        margin: 10px 0;
    }

    .bot {
        padding: 5px 8px;
        font-size: 0.8rem;
        margin: 5px auto;
    }

    .select2-container--default .select2-selection--single {
        height: 4vh;
    }

    main h2 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .B_editar, .B_eliminar {
        font-size: 0.5rem;
    }

    main h2 {
        font-size: 1.5rem;
    }

    table {
        font-size: 0.6rem;
        
    }

    .bot {
        padding: 5px 8px;
        font-size: 0.7rem;
        width: 100%; /* Asegurar que los botones ocupen el 100% del ancho */
    }

    #barra_busqueda {
        width: 95%; /* Ocupa todo el ancho en pantallas muy pequeñas */
    }
}
