:root {
    --color-primary: #8B2437;
    --color-secondary: #F37022;
    --color-white: #FFFFFF;
    --color-accent: #F9D279;
    --color-danger: #C8502A;
    --color-gray-dark: #4A4A4A;
    --color-background: #F2E4D6;
    --color-brown: #A65C3D;
    --color-black: #000000;
}

* {
    margin: 0;
    padding: 0;
}


#Popup {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6 );
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.modificacion {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 columnas de ancho */
    gap: 1rem; /* Espacio entre elementos */
    background-color: var(--color-background);
    border-radius: 30px;
    padding: 1%;
    overflow-y: auto;


}

.modificacion h2 {
    grid-column: span 11; 
    margin-bottom: 0.1rem;
    text-align: center;
}
.continuos {
    display: contents;
}
#contDicc {
    display: contents;
}

/* Clases de tamaño */
.full {
    grid-column: span 12; /* Ocupa todo el ancho */
}

.medio {
    grid-column: span 6; /* Ocupa la mitad del ancho */
}

.tercio {
    grid-column: span 4; /* Ocupa un tercio del ancho */
}

.cuarto {
    grid-column: span 3; /* Ocupa un cuarto del ancho */
}

.modificacion input, .modificacion button, .modificacion select {
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde general */
    margin-bottom: 1rem; /* Espacio entre los campos */
    
}
.modificacion select:disabled {
    color: #ccc;
}

.modificacion button {
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modificacion button:hover {
    background-color: var(--color-danger);
}

#salirP {
    all: unset;
    cursor: pointer;
    font-weight: bold;
}
#salirP:hover {
    color: var(--color-primary);
}

.modificacion input[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modificacion input[type="submit"]:hover {
    background-color: var(--color-danger);
}

.modificacion .select2-container {
    width: 100% !important; /* Aseguramos que el select ocupe todo el ancho disponible */
}
.modificacion .select2-container .select2-selection--single {
    height: auto; /* Ajuste de altura */
    padding: 0.75rem; 
    border-radius: 0.5rem; /* Bordes redondeados */
    border: 1px solid var(--color-gray-dark); /* Borde acorde a tu esquema de colores */
    font-size: 1rem;
}

.modificacion .select2-container .select2-selection--single .select2-selection__rendered {
    color: var(--color-black); /* Texto en el select */
}

.modificacion .select2-container--default .select2-selection--single:hover {
    border-color: var(--color-secondary); /* Borde al pasar el cursor */
}

/* Ocultar el scrollbar en navegadores basados en WebKit (Chrome, Safari) */
#Popup form::-webkit-scrollbar {
    width: 0px;
}


/*media 530*/