:root {
    --color-primary: #8B2437;
    --color-secondary: #F37022;
    --color-white: #FFFFFF;
    --color-accent: #F9D279;
    --color-danger: #C8502A;
    --color-gray-dark: #4A4A4A;
    --color-background: #F2E4D6;
    --color-brown: #A65C3D;
    --color-black: #000000;
}

*{
    padding: 0;
    margin: 0;
}
body {
    background: rgb(139,36,55);
    background: linear-gradient(339deg, rgba(139,36,55,1) 0%, rgba(200,80,42,1) 53%, rgba(249,210,121,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
main {
    width: 90%;
    height: 95vh;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#login {
    width: 30%;
    height: auto;
    background-color: var(--color-white);
    border-radius: 2%;
    margin: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

/* modificacion del estilo */
.fuente{
    color: var(--color-primary);
    align-items: center;
    text-align: center;

}
/* estilo del el usuario y contraseña */
.sesion{
  border: none;
  border-bottom: 0.5vh solid black;
  border-color: var(--color-primary);
  margin-top: 10%;
  color: var(--color-primary);
  font-size: 1rem;
  outline: none;
  width: 80%;
  transition: 0.2s ease;
}
.sesion:active, .sesion:focus{
    width: 100%;
    font-size: 1.2rem;
}

/* estilo del texto de ayuda para el usuario */
input::placeholder{
    color: var(--color-primary);
}
/* estilo de lo botones */
.boton {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1vh solid var(--color-primary);
    border-radius: 10px;
    margin-top: 10%;
    padding: 2%;
    height: auto;
    font-size: 1rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: 1s;
    
}
.boton:hover {
    scale: 1.1;
    color: var(--color-primary);
    background-color: var(--color-background);
    transition: 1s;
}

@media (max-width: 768px) {
    main {
        margin-left: 7%;
    }
    #login {
        width: 50%;
    }
    .boton {
        padding: 1%;
        font-size: 1rem;
        width: 80%;
    }
}
@media (max-width: 420px) {
    #login {
        width: 80%;
    }

}

