:root {
  --color-primary: #8B2437;
  --color-secondary: #F37022;
  --color-white: #FFFFFF;
  --color-accent: #F9D279;
  --color-danger: #C8502A;
  --color-gray-dark: #4A4A4A;
  --color-background: #F2E4D6;
  --color-brown: #A65C3D;
  --color-black: #000000;
  --color-green: #36b932;
}

body {
  background: linear-gradient(339deg, rgba(139,36,55,1) 0%, rgba(200,80,42,1) 53%, rgba(249,210,121,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Estructura en Grid para el diseño solicitado */
#contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  width: 90%;
  max-width: 60rem;
  margin: 1% auto;
  padding: 1%;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Encabezado "Creación de orden" que ocupa toda la fila superior */
#contenedor h2 {
  color: var(--color-primary);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2%;
  grid-column: 1 / -1;
}

/* Ajuste de secciones para el diseño de la cuadrícula */
#empleadoSection {
  grid-column: 1;
  grid-row: 2;
}

#infoClientDireccion {
  grid-column: 1;
  grid-row: 3;
}

#infoP {
  grid-column: 2;
  grid-row: 2 / 4;
}

/* Estilos generales de cada sección */
#infoP, #infoClientDireccion, #empleadoSection {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  text-align: center;
}

/* Encabezados de cada sección */
#infoP h3, #infoClientDireccion h3, #empleadoSection h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: var(--color-secondary);
}

/* Contenedor de productos en una sola línea usando grid */
.producto-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; /* Producto ocupa 2 fracciones, cantidad/Kg y Precio ocupan 1 fracción cada uno */
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

/* Estilos para los elementos dentro del contenedor de productos */
.producto-item select,
.producto-item input {
  padding: 0.625rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
}

/* Botón de añadir debajo de los productos */
#infoP .bot {
  margin-top: 1rem;
  width: 80%;
  max-width: 300px;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: 2px solid var(--color-secondary);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#infoP .bot span {
  margin-right: 8px;
  font-size: 1.2rem;
}

#infoP .bot:hover {
  background-color: var(--color-white);
  color: var(--color-secondary);
}

/* Alineación de los campos de Cliente y Dirección en la misma línea y tamaño uniforme */
#infoClientDireccion select,
#infoClientDireccion input {
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

/* Estilos para el select de método de pago */
#tipoP {
  width: 100%;
  max-width: 15rem;
  padding: 0.625rem;
  font-size: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  background-color: var(--color-background);
  color: var(--color-gray-dark);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#tipoP:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* Costos */
#costos {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
  border-top: 1px solid #ddd;
  margin-top: 2%;
  margin-bottom: 2%;
}

#costos h3 {
  font-size: 1.8rem;
  color: var(--color-primary);
}

/* Botón "Hacer orden" */
.botB {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 2px solid var(--color-primary);
  border-radius: 30px;
  padding: 0.625rem 1.25rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
  grid-column: 1 / -1;
}

.botB:hover {
  background-color: transparent;
  color: var(--color-primary);
}

#direccionS {
  margin-top: 1rem;
}
/* Adaptabilidad en dispositivos móviles */
@media (max-width: 760px) {
  #contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
  }

  #empleadoSection,
  #infoClientDireccion,
  #infoP,
  #costos,
  .botB {
    grid-column: 1 / -1;
  }

  #infoP h3, #infoClientDireccion h3, #empleadoSection h3 {
    font-size: 1.5rem;
  }

  #productosContainer select,
  #productosContainer input,
  #infoClientDireccion select,
  #empleadoSection select,
  #infoP .bot,
  #infoClientDireccion .bot,
  #tipoP {
    width: 100%;
    max-width: none;
    padding: 0.625rem;
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  #costos h3 {
    font-size: 1.2rem;
  }

  .botB {
    font-size: 1.3rem;
    padding: 0.625rem;
  }
}
