:root {
  --color-primary: #8B2437;
  --color-secondary: #F37022;
  --color-white: #FFFFFF;
  --color-accent: #F9D279;
  --color-danger: #C8502A;
  --color-gray-dark: #4A4A4A;
  --color-background: #F2E4D6;
  --color-brown: #A65C3D;
  --color-black: #000000;
  --color-green: #36b932;
}

body {
  background: linear-gradient(339deg, rgba(139, 36, 55, 1) 0%, rgba(200, 80, 42, 1) 53%, rgba(249, 210, 121, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Contenedor principal que estructura el formulario */
#contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;  /* Dos columnas para pantalla completa */
  gap: 0.5rem;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: 1.25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

/* Encabezado "Creación de orden" que ocupa toda la fila superior */
#contenedor h2 {
  color: var(--color-primary);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  grid-column: 1 / -1;
}

/* Sección de cada bloque dentro del formulario */
#empleadoSection,
#infoClientDireccion,
#infoP {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0.625rem;
  padding: 2% 1% ;
  text-align: center;
}
#infoP {
  grid-row: span 2;
}

/* Encabezados de cada sección */
#empleadoSection h3,
#infoP h3,
#infoClientDireccion label {
  font-size: 1.5rem;
  color: var(--color-secondary);
  margin-bottom: 1rem;
}

.select2-container {

  margin: 0.2rem 0 !important;

}
.error {
  background-color: rgba(170, 15, 44, 0.5);
  padding: 1%;
  padding-left: 10%;
  grid-column: 1/-1;
}

/* Contenedor de productos */
.producto-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 0.2rem;
  align-items: center;
  width: 95%;
  margin-bottom: 1rem;
  border: 2px solid var(--color-secondary); /* Un borde más grueso con un color secundario */
  border-radius: 1rem; /* Bordes redondeados para suavizar el aspecto */
  padding: 1%; /* Espacio interno para que el contenido no esté pegado al borde */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  background-color: var(--color-white); /* Fondo blanco para resaltar el contenido */
  transition: border-color 0.3s, box-shadow 0.3s; /* Transición suave al cambiar el color del borde */
}
.producto-item:hover {
  border-color: var(--color-danger); /* Cambia el color del borde al pasar el ratón por encima */
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.15); /* Aumenta la sombra para destacar */
}

/* Elementos de productos dentro del contenedor */
.producto-item select,
.producto-item input {
  padding: 0.8em 0.5rem;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 0.3125rem;
  box-sizing: border-box;
  width: 95%;
  
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}



/* Botón de añadir debajo de los productos */
#infoP .bot {
  margin-top: 1rem;
  width: 80%;
  max-width: 15rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: 2px solid var(--color-secondary);
  border-radius: 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

#infoP .bot span {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

#infoP .bot:hover {
  background-color: var(--color-white);
  color: var(--color-secondary);
}

/* Campos de Cliente y Dirección */
#infoClientDireccion select,
#infoClientDireccion input {
  width: 100%;
  padding: 0.8em;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 0.3125rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

/* Estilos para el select de método de pago */
#tipoP {
  width: calc(50% - 1rem);
  padding: 0.3em;
  font-size: 1em;
  border: 1px solid var(--color-primary);
  border-radius: 0.625rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}


/* Costos */
#costos {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  padding-top: 2%;
  border-top: 1px solid #ddd;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#costos h3 {
  font-size: 1.8rem;
  color: var(--color-primary);
}

/* Botón "Hacer orden" */
.botB {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 2px solid var(--color-primary);
  border-radius: 1.875rem;
  padding: 0.8em;
  text-align: center;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
  grid-column: 1 / -1;
}

.botB:hover {
  background-color: transparent;
  color: var(--color-primary);
}


/* Estilo general para los botones */
tr button {
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

/* Efecto hover genérico */
tr button:hover {
  transform: scale(1.1); /* Aumenta el tamaño ligeramente */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra elegante */
}

/* Botón para estado 'proceso' */
.proceso {
  background-color: #ffcc00; /* Amarillo */
  color: white;
}
.proceso:hover {
  background-color: #e6b800; /* Amarillo oscuro */
}

/* Botón para estado 'cancelado' */
.cancelado {
  background-color: #e74c3c; /* Rojo */
  color: white;
}
.cancelado:hover {
  background-color: #c0392b; /* Rojo oscuro */
}

/* Botón para estado 'completar' */
.completar {
  background-color: #27ae60; /* Verde */
  color: white;
}
.completar:hover {
  background-color: #1e8449; /* Verde oscuro */
}

/* Iconos dentro de los botones */
button .material-symbols-outlined {
  font-size: 24px; /* Ajusta el tamaño del icono */
}


/* Adaptabilidad en dispositivos móviles */
@media (max-width: 1030px) {
  #contenedor {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 5%;
  }

  #empleadoSection,
  #infoClientDireccion,
  #infoP {
    padding: 0.2rem;
    margin-bottom: 1rem;
  }

  #infoP h3,
  #infoClientDireccion label,
  #empleadoSection h3 {
    font-size: 1.4rem;
  }

  #productosContainer,
  #productosContainer select,
  #productosContainer input,
  #infoClientDireccion select,
  #empleadoSection select,
  #tipoP {
    width: 100%;
    font-size: 1em;
    margin: 1rem 0;
    
  }

  #costos {
    flex-direction: column;
    align-items: flex-start;
  }

  #costos h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .botB {
    font-size: 1.3rem;
    padding: 1em;
  }

  #tipoP {
    margin-bottom: 1rem;
  }
}
/* Adaptabilidad para dispositivos móviles de 425px o menos */
/* Adaptabilidad en dispositivos con un ancho de 425px o menores */
@media (max-width: 425px) {
  #contenedor {
    grid-template-columns: 1fr;  /* Cambiar a una sola columna */
    gap: 0.2rem;
    padding: 3%;
  }
  .producto-item {

    grid-template-columns: 1fr;
  }

  #productosContainer,
  #productosContainer select,
  #productosContainer input,
  #infoClientDireccion select,
  #empleadoSection select,
  #tipoP {
    width: 100%;
    padding: 0.2em;  /* Reducir el padding para ahorrar espacio */
    font-size: 1em;
    margin: 0.2rem 0;
  }

  #costos {
    flex-direction: column;
    align-items: flex-start;
  }

  #costos h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .botB {
    font-size: 1.2rem;
    padding: 0.8em;
  }

  #tipoP {
    margin-bottom: 1rem;
  }

  #infoP .bot {
    width: 100%;
    padding: 0.8em;
    font-size: 1em;
  }

  #infoP .bot span {
    font-size: 1.1rem;
  }
}

